PORT = 8001
FOLDER = /Users/niloy/Desktop/meldCx/storage
CONFIG = /Users/niloy/Desktop/meldCx/configutation.json
DB_HOST = 185.212.115.224
DB_PORT = 3306
DB_USER = dev_test
DB_PASSWORD = Az-12345
DB_NAME = meldcx
DOWNLOAD_LIMIT = 30
UPLOAD_LIMIT = 30
PROVIDER = local
BUCKET_NAME = buck
ACTIVE_PERIOD = 7
