PORT = 8000
FOLDER = /Users/niloy/Desktop/meldCx/storage
DB_HOST = 165.232.185.240
DB_PORT = 3306
DB_USER = dev_test
DB_PASSWORD = Az-12345
DB_NAME = meldcx
DOWNLOAD_LIMIT = 3
UPLOAD_LIMIT = 3
BUCKET_NAME = buc